node_modules
.next
out
.DS_Store
*.log
data/og-cache.json
src/data/og-cache.json
.cache

# bundle analyzer
.next/analyze/

# next-image-export-optimizer
/public/nextImageExportOptimizer
/public/next-image-export-optimizer-hashes.json

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
coverage/
playwright-report/
test-results/

# storybook
storybook-static/

# custom scripts output
public/images/
.lighthouseci
